.write_background {
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 82.97px);
  background-image: url("../images/pexels-heesang-park-13716545.jpg");
}

.wrap {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}

.write {
  /* height: calc(100vh - 82.97px); */
  position: relative;
  max-width: 1300px;
  min-width: 300px;
  margin: 0px auto;
  box-sizing: border-box;
  display: flex;
}

.write-container {
  margin: auto 0px;
}

.write-header {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

#board-title {
  border-radius: 20px;
  border: 1px solid lightgrey;
  font-weight: 200;
  font-size: 16px;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  line-height: 28px;
  height: 28px;
  background-color: #f0f0f0;
}

#btn-write {
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  font-weight: 200;
  margin-right: 4px;
  height: 28px;
}

.view-content {
  margin-top: 10px;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  font-size: 16px !important;
  font-weight: 200;
  /* justify-content: space-around; */
}

.view-container {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 16px;
  position: relative;
  border-radius: 8px;
  isolation: isolate;
  transition: all 0.3s ease;
  padding: 12px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.view-item {
  width: 100%;
}

hr {
  color: grey;
  margin-top: 30px;
  margin-bottom: 0px;
}

#btn-submit {
  float: right;
  width: 100px;
  padding: 4px 12px;
  min-width: 88px;
  border: none;
  font: inherit;
  color: #373030;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  cursor: default;
  font-weight: 400;
  background: linear-gradient(#4faefc, #006bff);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.4);
  color: #fff;
}

#btn-submit:active {
  background: linear-gradient(#006bff, #4faefc);
}
